.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

* {
    margin: 0%;
    font-family: "Poppins";
}

body {
    color: rgb(3, 75, 3);
    background-color: #F2E8B8;
}

h2 {
    padding: 20px;
    font-size: 50px;
}

@media (max-width: 700px) {
    h2 {
        font-size: 30px;
    }
}

#portfolio {
    padding: 10px;
    text-align: center;
}

.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(3, 75, 3);
    color: white;
    padding: 10px;
    border-radius: 8px;
    border-width: 0px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.fixed-button:hover {
    background-color: #F2E8B8;
    color: rgb(0, 66, 0);
}

@media (max-width: 700px) {
    .fixed-button {
        font-size: 12px;
        padding: 10px;
    }
}

.filter-buttons {
    gap: 90px;
}

.filter-btn {
    background-color: rgb(3, 75, 3);
    color: white;
    padding: 10px;
    border-radius: 8px;
    border-width: 0px;
    font-weight: bold;
    font-size: 15px;

}

.filter-btn:hover {
    background-color: #F2E8B8;
    color: rgb(0, 66, 0);
}

@media (max-width: 700px) {
    .filter-buttons {
        gap: 5px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }

    .filter-btn {
        padding: 6px;
        font-size: 12px;

    }

}

.repository-btn {
    width: 50%;
    padding: 4px;
    margin-top: 15px;
    margin-right: 10px;
    background-color: #F2E8B8;
    color: rgb(0, 66, 0);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.repository-btn:hover {
    background-color: #2e432f;
    color: white;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.project-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;

}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-card-content {
    padding: 20px;
    gap: 20px;
}

.project-card h3 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 10px;
    color: green#333;
}

.project-card p {
    font-size: 1rem;
    color: green;
    line-height: 1.5;
}

@media (max-width: 700px) {
    .project-card h3 {
        font-size: 25px;
    }

    .project-card p {
        font-size: 15;
    }
}

.project-tags {
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tag {
    background-color: #e2e8f0;
    color: #4a5568;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 600;
}

@media (max-width: 400px) {
    .projects-grid {
        padding: 10px;
        gap: 15px;
    }

    .project-card-content {
        padding: 15px;
    }
}